.gitattributes export-ignore
.gitignore export-ignore
xsd export-ignore
tests export-ignore
bin export-ignore
tests/fixtures/*.isdoc bin
tests/snapshots/*.xml bin
docker-compose.yml export-ignore
Dockerfile export-ignore
Makefile export-ignore